a {
  box-shadow: inset 0 -.125em 0 #eee;
  color: map-get($colors, link);
  position: relative;
  text-decoration: none;
  transition: color .0625s ease, background .0625s ease, box-shadow .0625s ease;

  &:hover,
  &:focus {
    box-shadow: inset 0 -.125em 0 transparentize(map-get($colors, link), .95);
    background-color: transparentize(map-get($colors, link), .95);
  }
  &:focus {
    outline: none;
  }

  &:visited {
    color: map-get($colors, linkVisited);

    &:hover,
    &:focus {
      box-shadow: inset 0 -.125em 0 transparentize(map-get($colors, linkVisited), .95);
      background-color: transparentize(map-get($colors, linkVisited), .95);
    }
  }

  &:not(.no-click):active { top: 1px; }

  &.no-border {
    box-shadow: none;
  }

  &.link-alt {
    box-shadow: none;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% + .125em);
      height: 0;
      background-color: #e6e6e6;
      z-index: -1;
      transition: .0625s all ease;
    }

    &:hover,
    &:focus {
      background-color: transparent;

      &:before {
        height: .5em;
      }
    }
  }

  &.link-tile {
    background-color: transparent;
    box-shadow: none;
    position: relative;
    z-index: 1;

    &:hover,
    &:focus {
      background-color: transparent;
      box-shadow: none;
    }

    @include media('>sm') {
      &:after {
        background-color: #f8f8f8;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;
        transition: bottom .0625s ease;
        z-index: -1;
      }

      &:hover,
      &:focus {
        &:after {
          bottom: 0;
        }
      }
    }
  }
}