.home-hero {
  text-align: center;
  @include sizing(padding-bottom, 2.75);

  @include media('>md') {
    @include sizing(padding-bottom, 3.5);
  }
}

.home-title {
  @include font-size(20px);
  @include sizing(margin-bottom, 1.25);
  font-weight: normal;
  text-align: center;
  color: #fff;

  @include media('>md') {
    @include font-size(28px);
    line-height: 38px;
    @include sizing(margin-bottom, 2.5);

    span { display: block; }
  }

  @include media('>lg') {
    @include font-size(38px);
    line-height: 48px;
  }
}

$ctaColor: #F9C700;
.home-cta {
  background: $ctaColor;
  background: linear-gradient(180deg, lighten($ctaColor, 0%), darken($ctaColor, 7.5%));
  border-radius: 3px;
  box-shadow: 0 1px 1px transparentize(#000, .85);
  color: #fff;
  display: inline-block;
  font-style: italic;
  overflow: hidden;
  position: relative;
  text-shadow: 0 1px 1px transparentize(#000, .85);
  transition: all .125s ease-out;

  &:hover,
  &:focus {
    box-shadow: 0 3px 6px transparentize(#000, .85);

    span {
      background: linear-gradient(180deg, lighten($ctaColor, 1%), darken($ctaColor, 6.5%));
    }
    span:after { transform: translateX(10px); }
  }

  &:active {
    box-shadow: 0 1px 6px transparentize(#000, .85);
    transition: all 0s;
    top: 1px;

    span {
      background: linear-gradient(180deg, lighten($ctaColor, 0%), darken($ctaColor, 3.5%));
      box-shadow: inset 0 1px 2px transparentize(#000, .9);
      transition: all 0s;
    }
  }

  span {
    border-radius: 3px;
    display: inline-block;
    @include sizing(padding-top, .25);
    @include sizing(padding-bottom, .35);
    @include sizing(padding-left, 1.25);
    @include sizing(padding-right, 1.65);
    position: relative;
    transition: all .125s ease-out;

    &:after {
      content: '\2192';
      position: absolute;
      right: 11%;
      transition: all .125s ease-out;
    }
  }

  @include media('>md') {
    span {
      @include sizing(padding-top, .35);
      @include sizing(padding-bottom, .45);
      @include sizing(padding-left, 1.5);
      @include sizing(padding-right, 2);

      &:after { right: 15%; }
    }
  }

  @include media('>lg') {
    span {
      @include sizing(padding-top, .4);
      @include sizing(padding-bottom, .55);
      @include sizing(padding-left, 1.75);
      @include sizing(padding-right, 2.35);

      &:after { right: 20%; }
    }
  }
}

.home-container {
  @include sizing(margin-top, -2);
  text-align: center;
}

.home-container-block {
  box-shadow: 0 1px 4px transparentize(#000, .975);
  border-top: 4px solid;
  display: inline-block;
  float: left;
  @include sizing(padding, 1);
  @include sizing(margin-bottom, 1);
  background-color: #fff;
  text-align: left;
  width: 100%;

  &:last-child { margin-bottom: 0; }

  // @include media('>md') {
  //   margin-bottom: 1em;
  //   width: calc(50% - .5em);

  //   &:nth-of-type(odd) { margin-right: .5em; }
  //   &:nth-of-type(even) { margin-left: .5em; }
  // }

  @include media('>md') {
    margin-bottom: 1em;
    width: calc(33.333% - .75em);

    &:nth-of-type(1),
    &:nth-of-type(4) {
      margin-left: 0;
      margin-right: .75em;
    }

    &:nth-of-type(2),
    &:nth-of-type(5) {
      margin-left: .375em;
      margin-right: .375em;
    }

    &:nth-of-type(3),
    &:nth-of-type(6) {
      margin-left: .75em;
      margin-right: 0;
    }
  }
}

.home-block-content {
  @include media('>md') {
    height: 13em;
    margin-bottom: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      background: linear-gradient(90deg, transparentize(#fff, 1), #fff);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 1.75em;
      pointer-events: none;
    }
  }
}

.home-block-heading {
  @include font-size(14px, false);
  display: inline-block;
  width: 100%;
  color: #7f8c8d;
}
.home-block-title {
  @include font-size(20px);
  @include sizing(margin-bottom, .5);

  a {
    color: #2c3e50;
  }
}
.home-container-block p {
  color: #444;
  @include font-size(16px);
}
.home-block-link {
  @include font-size(16px);
}


.home-block-featured {
  border-top: none;

  @include media('>md') {
    margin-bottom: 1em;
    width: calc(50% - 1em);

    &:nth-of-type(odd) {
      margin-left: 0;
      margin-right: 1em;
    }
    &:nth-of-type(even) {
      margin-left: 1em;
      margin-right: 0;
    }
  }
}



// $ctaColor: map-get($colors, 'link');
$ctaColor: #98A4A5;
.home-cta.sub-cta {
  background: $ctaColor;
  background: linear-gradient(180deg, lighten($ctaColor, 0%), darken($ctaColor, 7.5%));
  @include sizing(margin-top, 1);

  &:hover,
  &:focus {
    span {
      background: linear-gradient(180deg, lighten($ctaColor, 1%), darken($ctaColor, 6.5%));
    }
  }

  &:active {
    span {
      background: linear-gradient(180deg, lighten($ctaColor, 0%), darken($ctaColor, 3.5%));
    }
  }

  @include media('>lg') {
    span {
      @include sizing(padding-top, .35);
      @include sizing(padding-bottom, .45);
      @include sizing(padding-left, 1.5);
      @include sizing(padding-right, 2);

      &:after { right: 15%; }
    }
  }
}


.home-container-subheading {
  color: #98A4A5;
  display: inline-block;
  width: 100%;
  @include font-size(18px);
  @include sizing(margin-top, 1);
}