.post + .post {
  @include sizing(padding-top, 2);
}

.post-title {
  @include font-size(32px, false);
  margin-top: 0;
  position: relative;

  @include media('>md') {
    &:before {
      background-color: #f8f8f8;
      background-image: url('../img/source.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 2.5rem;
      border: 4px #fff solid;
      content: '';
      display: inline-block;
      margin-left: -1.25rem;
      margin-top: calc(-.45rem - 2px);
      position: absolute;
      @include sizing(left, -1.5);
      top: 0;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
    }
  }
}

.post-date {
  color: #aaa;
  margin-bottom: 4px;
  @include font-size(15px, false);
  text-transform: capitalize;
}

.hero-caption-desktop {
  @include sizing(margin-bottom, .5);
  position: relative;
  @include sizing(top, -.85);
}

.post-source-default {
  .post-title {
    &:before { display: none; }
  }
}

.post-source-medium .post-title:before { background-image: url('../img/source-medium.png'); }
.post-source-industry .post-title:before { background-image: url('../img/source-industry.png'); }
.post-source-alistapart .post-title:before { background-image: url('../img/source-ala.png'); }

.single .post-title:before { display: none !important; }