.hero {
  @include sizing(padding-top, 1.5);
  @include sizing(padding-bottom, 1.5);
  background: url('../img/bgr.jpg') center 75% no-repeat #95a5a6;
  background-size: cover;
  position: relative;
  width: 100%;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #95a5a6;
    opacity: .75;
  }

  @include media('>md') {
    @include sizing(padding-top, 2.5);
    @include sizing(padding-bottom, 2.5);
    // @include sizing(padding-bottom, 4);

    background-image: url('../img/bgr-lg.jpg');

    min-height: 189px;
  }

  img {
    max-width: 100%;
    width: 100%;
  }

  .inner {
    position: relative;
    z-index: 1;
  }

  &.has-image {
    padding-top: 0;
    padding-bottom: 0;

    &:after { display: none; }
  }
}

.hero-title {
  @include font-size(32px);
  margin-bottom: 0;

  color: #ecf0f1;
  text-align: center;
  text-shadow: 0 1px 1px #2c3e50;

  @include media('>md') {
    text-align: left;
    @include font-size(40px);
  }

  @include media('>lg') {
    @include font-size(48px);
  }
}

.hero-subtitle {
  color: #ecf0f1;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
  @include font-size(20px);
  text-shadow: 0 1px 1px transparentize(#2c3e50, .5);

  @include media('>md') {
    text-align: left;
    @include font-size(24px);
    line-height: 24px;
  }

  @include media('>lg') {
    @include font-size(28px);
    line-height: 28px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $site-max-width;
  @include sizing(padding, 1);
  @include clearfix();
  position: relative;
  z-index: 1;

  @include media('>sm') {
    @include sizing(padding-left, 2);
    @include sizing(padding-right, 2);
  }
}

.container-secondary {
  @include sizing(margin-bottom, 1.5);

  @include media('>md') {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    @include sizing(padding-right, 1);
    width: 40%;
  }
}

.container-primary {
  @include media('>md') {
    display: inline-block;
    float: right;
    @include sizing(margin-top, -3.5);
    @include sizing(padding, 1.5);
    width: 60%;

    background-color: #fff;
  }
}

.container-primary + .container-secondary {
  @include media('<md') {
    display: none;
  }
}

.container-subtitle {
  margin-top: 0;
  border-bottom: 2px #eee solid;
  @include sizing(margin-bottom);
  @include sizing(padding-bottom);

  color: #444;
  @include font-size(28px, false);
  line-height: 32px;
}

.container-tertiary {
  margin-top: 0;
  border-bottom: 2px #eee solid;
  display: inline-block;
  width: 100%;
  @include sizing(margin-bottom, .25);
  @include sizing(padding-bottom, .5);

  color: #444;
  @include font-size(18px, false);
  line-height: 20px;

  &.no-border {
    border-bottom: 0;
    padding-bottom: 0;
    @include sizing(margin-bottom, .5);
  }
}

.container-secondary-back {
  display: inline-block;
  @include sizing(margin-bottom, 1);
  @include font-size(15px);
}

.mobile-only { @include media('>md') { display: none; } }
.desktop-only { @include media('<md') { display: none; } }

.lt-lg { @include media('>lg') { display: none; } }
.gt-lg { @include media('<lg') { display: none; } }

.is-hidden { visibility: hidden; }

.page-template-about .hero:after {
  // background-color: darken(#F1BB00, 10%);
}