.post-title {
  @include font-size(32px, false);
  margin-top: 0;
}

.single .container-primary {
  @include media('>md') {
    @include sizing(padding-top, 1);
  }
}

.post-date {
  color: #aaa;
  margin-bottom: 4px;
  @include font-size(15px, false);
}

.single .post {
  img {
    @include sizing(margin-left, -1.5);
    @include sizing(margin-right, -1.5);
    @include sizing(margin-top, 1);
    @include sizing(margin-bottom, 1);
    max-width: none;
    width: calc(100% + 81px);
  }

  .wp-caption {
    @include sizing(margin-bottom, 1);
    width: 100% !important;

    img { margin-bottom: 0; }

    p {
      @extend .img-caption;
    }
  }

  p:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

.hero-caption {
  @include media('>md') {
    width: 35%;
    @include sizing(padding-right, 1.5);
    @include sizing(padding-top, .25);
    height: 0;
  }
}

.hero-caption-desktop {
  @include sizing(margin-bottom, .5);
  position: relative;
  @include sizing(top, -.85);
}